/* Reset default styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: Arial, sans-serif;
   background-color: #1a1a1a; /* Dark background color */
   color: #fff; /* Text color */
   padding: 20px;
 }
 
 h2 {
   margin-bottom: 10px;
 }
 
 textarea {
   resize: none;
   border: 1px solid #444; /* Darker border color */
   border-radius: 5px;
   padding: 10px;
   font-family: "Courier New", monospace;
   font-size: 14px;
   background-color: #333; /* Darker background color */
   color: #fff; /* Text color */
 }
 
 textarea:focus {
   outline: none;
   border-color: #007bff; /* Change the focus border color to your preferred color */
   box-shadow: 0 0 5px #007bff; /* Change the focus box shadow color to your preferred color */
 }
 
 button {
   padding: 10px 20px;
   font-size: 16px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 
 button:hover {
   background-color: #0056b3; /* Change the hover background color to your preferred color */
 }
 
 button:focus {
   outline: none;
   box-shadow: 0 0 5px #0056b3; /* Change the focus box shadow color to your preferred color */
 }
 